.textStyles {
    color: #f0c20a;
    font-size: 4rem;
  }
  
  .textStyles h1 {
    color: white;
    font-weight: bold;
    font-style: italic;
  }

  .footage{
    border: solid;
    border-width: 1vh;
    border-color: #f0c20a;
  }