.textStyles {
    color: #e72d18;
    font-size: 4rem;
  }
  
  .textStyles h1 {
    color: white;
    font-weight: bold;
    font-style: italic;
  }

  .footage{
    border: solid;
    border-width: 1vh;
    border-color: #dd3623;
  }